/* ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

ul.transition li{
    transform: scaleY(0);
    background: #FF5E0E;
    width: 20%;
} */



/* .my-swap{
    display:table;
} */


.my-btns:hover{
    background-color: #FF5E0E;
    color: white;
    transition: ease-out 500ms;
}
